[2013-07-26 13:26] abishekrsrikaanth opened #1 "Use config.php instead of .ini file"
Make use of the config file. This way laravel can allow overriding them by the developer.

[2013-07-26 16:31] #1 closed, assigned to nobody

[2013-10-20 05:12] Roritharr opened #2 "PayPal SDK Classes not found"
Whenever i try to call Paypalpayment::OAuthTokenCredential() i get this error:

{"error":{"type":"Symfony\Component\Debug\Exception\FatalErrorException","message":"Class 'PPConfigManager' not found","file":"***\vendor\anouar\paypalpayment\src\Anouar\Paypalpayment\PaypalPayment.php","line":156}}

Laravel doesn't seem to find the normal PayPal SDK Classes, although they are correctly installed by co

[2013-10-22 21:02] justgage opened #3 "Error directly after install."
when I try to run any command or access any page I get this:
![screen shot 2013-10-22 at 3 03 07 pm](https://f.cloud.github.com/assets/164033/1385364/7131517a-3b5d-11e3-971b-aac47691d911.png)
console error:
HP Fatal error:  Call to undefined method Anouar\Paypalpayment\Facades\PaypalPayment::isDeferred() in /Users/gages/laravel/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.

[2013-10-31 23:39] #2 closed, assigned to nobody

[2013-10-31 23:39] #3 closed, assigned to nobody

[2013-12-01 13:07] Sopamo opened #7 "Support Laravel 4.1"
Please support Laravel 4.1. There should be no breaking changes, you would only have to update your dependencies to 4.1

[2013-12-05 21:29] justgage opened #8 "Class 'PayPal\Api\AmountDetails' not found"
The code causes this problem.

[code]

![screen shot 2013-12-05 at 2 28 00 pm](https://f.cloud.github.com/assets/164033/1687317/39eadab0-5df4-11e3-8329-7225a0d8eecf.png)

The odd thing is that it seems to be included in this code:
File: PaypalPayment.php

[code]

[2014-02-20 19:28] intrip opened #10 "Support paypal direct payment?"
Does it support paypal direct payment where you insert directly credit cart information?

[2014-04-14 12:54] LeventeNagy opened #11 "Got Http response code 401 when accessing https://api.sandbox.paypal.com/v1/oauth2/token. Retried 0 times"
Copied the example code to test, client id and secret are fine but i get this error

Got Http response code 401 when accessing https://api.sandbox.paypal.com/v1/oauth2/token. Retried 0 times

[2014-04-17 07:37] minhdanh opened #12 "Support Laravel 4.0.x ?"
Hello, for some reasons I'm not allowed to upgrade to Laravel 4.1. I'm using Laravel 4.0. So how can I use the package with this version of Laravel?

[2014-05-16 10:08] lucabro81 opened #13 "using paypal method"
Hi, using paypal method I've modified the create controller in this way:

public function create()
{
        $payer = Paypalpayment::Payer();
        $payer->setPayment_method("paypal");

[code]

}

And this is the error:

PayPal \ Exception \ PPConnectionException

Got Http response code 404 when accessing https://api.sandbox.paypal.com/v1/payments/payment/1234. Retried 0 times.

PaymentId is 123

[2014-05-16 10:10] #13 closed, assigned to nobody

[2014-05-16 10:14] lucabro81 opened #14 "using paypal method"
Sorry i've some trouble to post the issue. However using paypal method I've modified the create controller in this way:

[code]

And this is the error:

PayPal \ Exception \ PPConnectionException

Got Http response code 404 when accessing https://api.sandbox.paypal.com/v1/payments/payment/1234. Retried 0 times.

PaymentId is 1234 only for test, what is the problem? The $_ClientId and $_ClientSecre

[2014-05-17 23:06] #14 closed, assigned to nobody

[2014-05-26 16:56] rogerburgosaps opened #15 "Payer ID"
I have payment ID, but i don't generate payer ID.

My payment method is "paypal"

 $payer = Paypalpayment::Payer();
        $payer->setPayment_method("paypal");

[code]

The response of state is created.

I want to generate a execution of the payment.

[2014-05-29 14:57] #15 closed, assigned to nobody

[2014-05-29 14:58] rogerburgosaps opened #16 "Amount Details"
I have this code, but i want to define de amount details, but the response of the api is the code 400. Help me please.

$payer = Paypalpayment::Payer();
                $payer->setPayment_method("paypal");

[code]

[2014-05-29 16:53] #16 closed, assigned to nobody

[2014-05-29 16:54] #12 closed, assigned to nobody

[2014-05-29 16:54] #11 closed, assigned to nobody

[2014-05-29 16:54] #10 closed, assigned to nobody

[2014-05-29 16:54] #8 closed, assigned to nobody

[2014-05-29 16:54] #7 closed, assigned to nobody

[2014-06-11 15:14] ronnievisser opened #17 "Please fix for 4.2"
Package will not install when running on Laravel 4.2

[2014-07-03 03:12] #17 closed, assigned to nobody

[2014-07-29 04:30] karlimlengco opened #20 "Subscription Method"
This Support Subscription payment in paypal?

[2014-08-07 19:39] #20 closed, assigned to nobody

[2014-08-13 20:32] dale-conroy opened #21 "Details"
[code]

[code]

[2014-10-09 15:54] #21 closed, assigned to nobody

[2014-10-20 09:14] evana-sna opened #22 "SSL3 wrong version number"
I get this error when trying to start a transaction:

PayPal\Exception\PPConnectionException error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number

It's fixed in new sdk-core-php release, but i can't update  sdk-core-php lib because of the requirements:

"paypal/rest-api-sdk-php": "v0.7.0" > "paypal/sdk-core-php": "2.4.*"

But for the fix I need latest sdk-core-php version. What can I d

[2014-10-23 01:43] #22 closed, assigned to nobody

[2014-11-25 18:53] abhitheawesomecoder opened #25 "live mode not working"
Even when i am setting mode to live like below its redirecting to https://www.sandbox.paypal.com

$this->_apiContext->setConfig(array(
            'mode' => 'live',
            'http.ConnectionTimeOut' => 30,
            'log.LogEnabled' => true,
            'log.FileName' => __DIR__.'/../PayPal.log',
            'log.LogLevel' => 'FINE'
        ));

how to make it redirect to https://www.paypal.c

[2014-11-27 12:41] abhitheawesomecoder opened #26 "not getting custom field in return url"
I am setting custom field like this :

 $transaction = Paypalpayment:: Transaction();
 $transaction->setAmount($amount);
 $transaction->setDescription('Make Payemnt');
 $transaction->setCustom('8');

but i am not getting it any where in return url action:

public function getConfirmpayment()
    {

        $payment_id = Input::get('paymentId');
        $payer_id = Input::get('PayerID');
        $t

[2014-12-19 10:50] jakoss opened #29 "Problem with Self"
I got this error log:

[code]

Should it be self:: instead of Self:: ?

[2014-12-19 10:55] jakoss opened #30 "Array to string conversion during OAuth"
Got this little error while trying to get payment details by id:

[code]

rest-api-sdk-php have newer version, maybe it could resolve the problem?

[2014-12-19 15:49] #29 closed, assigned to nobody

[2014-12-21 13:21] #30 closed, assigned to nobody

[2014-12-29 23:05] ChristianGB opened #31 "Got Http response code 401 when accessing https://api.sandbox.paypal.com/v1/oauth2/token."
I got this when I send my request to paypal for payments  Got Http response code 401 when accessing https://api.sandbox.paypal.com/v1/oauth2/token.

[2015-01-10 01:43] dcolumbus commented on #11
@xroot my credentials are correct, yes.

[2015-01-10 07:57] LeventeNagy commented on #11
Hi guys, i solved the problem in one of my older projects, let me dig it out and i will post the fix

[2015-01-10 13:59] xroot commented on #11
run composer update. then make sure yr ApiContext looks something like this Paypalpayment::ApiContext($this->_ClientId, $this->_ClientSecret); you only need to pass clientID and ClienSecret .

[2015-01-13 14:38] xroot commented on #25
does your issue resolved ?

[2015-01-13 14:38] xroot commented on #31
does your issue resolved?

[2015-01-13 14:39] #26 closed

[2015-01-14 02:44] ChristianGB commented on #31
Sorry for the latest reply.

Yes I fixed all problems and thank you for you interest

2015-01-13 8:39 GMT-06:00 Anouar Absslm <notifications@github.com>:

--

*Christian Eduardo Galdámez Blanco*

*Ingeniero en Desarrollo de Software*

*Facebook: https://www.facebook.com/shiroiMangetsu
<https://www.facebook.com/shiroiMangetsu>Teléfono: 044 961 270 47 69*

[2015-01-14 15:16] xroot commented on #31
your welcome

[2015-01-14 15:16] #31 closed

[2015-01-15 10:39] ulshamim opened #32 "Http response code 400"
At the time of payment I got an error:
Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment.

[2015-01-15 13:52] xroot commented on #32
run composer update ; then make sure to pass your client Id and ckient secret key to api context  example: Paypalpayment::ApiContext($this->_ClientId, $this->_ClientSecret);
Also check your log for further information.

[2015-01-16 10:34] ulshamim commented on #32
Still same error and this is in log file.

[16-01-2015 10:19:50] PayPal\Core\PPHttpConnection: INFO: POST https://api.sandbox.paypal.com/v1/payments/payment
[16-01-2015 10:19:50] PayPal\Core\PPHttpConnection: FINE: Content-Type: application/json
[16-01-2015 10:19:50] PayPal\Core\PPHttpConnection: FINE: User-Agent: PayPalSDK/PayPal-PHP-SDK 0.15.1 (lang=PHP;v=5.5.9;bit=32;os=Windows_NT_6.1;machine=i

[2015-01-16 15:30] xroot commented on #32
Could you please share with me the code that process the payment .

On Fri, Jan 16, 2015 at 11:34 AM, ulshamim <notifications@github.com> wrote:

[2015-01-16 15:36] ulshamim commented on #32
For testing I have used your code with my client ID and secrete code. Also I have I have used only 2 function for testing construct and create function. This is my controller:

[code]
This is my route:
Route::resource('payment', 'PaypalPaymentController');

[2015-01-16 15:38] xroot commented on #32
show me your composer json file please

[2015-01-16 15:41] ulshamim commented on #32
This is the composer.json file:
[code]

[2015-01-16 15:43] xroot commented on #32
did you tried to run composer update ...?

[2015-01-16 15:45] ulshamim commented on #32
Yes I tried 2 times but same result.

[2015-01-16 15:50] xroot commented on #32
ok one second let me check

[2015-01-16 15:56] ulshamim commented on #32
OK let me know I am waiting for your reply.. Thanks in advance.

[2015-01-16 16:33] xroot commented on #32
could you please remove the package entirely and install it again , you may
still have the old version that get installed from you cache

On Fri, Jan 16, 2015 at 4:45 PM, ulshamim <notifications@github.com> wrote:

[2015-01-16 16:44] xroot commented on #32
try this instead : composer update anouar/paypalpayment --prefer-source

[2015-01-17 07:39] ulshamim commented on #32
Still same issue. First I tried to update the package but it said nothing to install or update then I remove the package and re-install. But same issue.

[2015-01-17 16:21] xroot commented on #32
send me your controller ,I'll user code and see if it will work

[2015-01-17 18:20] ulshamim commented on #32
OK. But I sent you PaypalPaymentController.php earlier. OK one more time I send you. Also let me know if you need anything else. This is the PaypalPaymentController.php
[code]

[2015-01-17 21:30] xroot commented on #32
ok let fix this issue now and close it

On Sat, Jan 17, 2015 at 7:20 PM, ulshamim <notifications@github.com> wrote:

[2015-01-17 21:50] xroot commented on #32
the issue is related to your secret and client ID , I have experienced the same error within your keys , but when switched to my own sandbox keys , it worked perfect . login to your paypal sandbox and grap the correct credentials . try it I'm 100% sure . if it fixed let me know to close this issue . thanks

[2015-01-17 22:12] #25 closed

[2015-01-18 15:57] ulshamim commented on #32
Ya It works. I have used IN account that's why it's not working.

[2015-01-18 16:20] xroot commented on #32
ok nice

[2015-01-18 16:20] #32 closed

[2015-01-20 09:06] fogine opened #33 "Http response code 400 when list of items is added"
When I run this piece of code with paypal item list set, I get Error:
`Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment.`

But if I comment out`$transaction->setItemList($itemList)`, I'm successfully redirected to paypal confirmation page.

What I'm doing wrong?

    public function someFunction()
    {
        $payer = PaypalPayment::payer();
        $p

[2015-01-20 10:20] fogine commented on #33
Problem was caused by diversity of `$amount->setTotal(20);` amount value and sum of all order item prices. The values must be exact same.

[2015-01-20 10:20] #33 closed

[2015-01-20 15:43] xroot commented on #33
yes I have already mentioned this on the doc

[2015-01-24 22:14] teddywest32 opened #34 "Is there any support for "Adaptive Simple Payments "?"
I just want to implement paypal in laravel for paying the people who request for payout. Is there any method so that i can use the feature of paypal?
Thanks in advance

[2015-02-12 15:20] KalinKanev opened #35 "Support Laravel 5.0.*"
Please support Laravel 5.0.*

[2015-02-19 14:06] xroot commented on #35
will go with that in the next future

[2015-02-27 17:24] dimension3000 opened #36 "Error new parameter in Json 'TransactionFee'"
There is an error with this new parameter in json.

Method PayPal\Api\Sale::getTransactionFee() does not exist

Apparently the current classes are not contemplating this new response parameter.

[2015-03-01 17:55] majimboo commented on #35
Is there a date for this?

[2015-03-01 18:50] xroot commented on #35
Actually no but soon

[2015-03-03 09:20] KadeorAgency commented on #35
We can't wait. Any estimations?

[2015-03-03 12:38] mb303 commented on #36
It's due to the old version of the paypal api that is being used. I have created a fork and included the latest version of the API without any problems so far.

[2015-03-04 00:47] xroot commented on #35
Upgraded , use ~1.* to get laravel 5 version 1.1 for laravel 4 . let me know if something goes wrong.

[2015-03-04 00:48] #35 closed

[2015-03-04 13:26] KadeorAgency opened #37 "Laravel 5 error"
There is an error when i try to get any url:

BadMethodCallException in ServiceProvider.php line 226:
Call to undefined method [package]

I only installed project according to instruction.

[2015-03-05 05:13] vandung2k6 opened #38 "Laravel 4.2 error when Paypal redirect PatmentSuccess page."
HI all, please help me.

I am using Laravel 4.*

in file composer
...
 "anouar/paypalpayment": "1.0"
...

Made payment success on Paypal but when redirect to Pay Success page (my website)

Error: Call to undefined method Anouar\Paypalpayment\PaypalPayment::get()

My code succes page:

// Get the payment Object by passing paymentId
        // payment id and payer ID was previously stored in databas

[2015-03-05 11:25] xroot commented on #38
check this issue https://github.com/xroot/laravel-paypalpayment/issues/14 seems the same

[2015-03-05 11:38] xroot commented on #36
we're using version "0.15.1" of paypal API , and there is no getTransactionFee() method available with the Sale calass

[2015-03-05 11:38] #36 closed

[2015-03-16 08:15] LoveAndHappiness commented on #37
Is this package even intended to work for Laravel 5?

[2015-03-16 10:22] KadeorAgency commented on #37
According to this issue - YES, it is.
https://github.com/xroot/laravel-paypalpayment/issues/35

[2015-03-17 09:09] anistark commented on #34
+1 I too need it. Does this package support adaptive payments ? @xroot

[2015-03-17 11:41] xroot commented on #34
Hi  guys sorry for the delay , currently we're using a  REST API which has no support for adaptive payments , I am not sure if paypal have added this functionality  with latest REST APIs versions.

[2015-03-17 11:41] #34 closed

[2015-03-24 02:34] damienIN commented on #37
I resolved this by deleting $this->package() in the service provider. It appears Laravel 5 no longer requires this in package definitions.

[2015-03-24 03:35] damienIN commented on #37
I was able to get this working in L5 with minor tweaks to the ServiceProvider, I can fork and submit a pull request if you want to see what I did.

[2015-03-24 14:09] xroot commented on #37
create your pull request also make sure when you run the test it is passed
.thanks

On Tue, Mar 24, 2015 at 4:35 AM, Damien <notifications@github.com> wrote:

[2015-03-29 22:52] xroot commented on #37
Fixed

[2015-03-29 22:52] #37 closed

[2015-03-29 22:52] #38 closed

[2015-04-06 15:30] zurez opened #39 "Paypal IPN Support!"
How to get your script listen for IPN ?
 link about IPN
https://developer.paypal.com/docs/classic/products/instant-payment-notification/

[2015-04-09 12:47] kapillohakare commented on #32
Hi Ulshamim and Xroot,

Can you, please brief me about IN account? I got the same problem as well. I checked the keys and updated composer as well. I am working on my local machine. I got same error as Ulshamim.

Thanks in advance.

[2015-04-21 09:31] josephilipraja commented on #11
FIXED! My constructor had:
[code]
I changed to
[code]
and it worked just like that!

[2015-04-21 12:36] josephilipraja opened #40 "Please Upgrade the PayPal SDK to fix an error in 1.0 release"
Am getting an error -
[code]
When I digged in Google found that it was some weird compatibility error from PayPal SDK itself.
(Refer: https://github.com/paypal/PayPal-PHP-SDK#latest-updates).
In their page they said:

So please update *your ``` 1.0 ``` release* to the latest PayPal SDK (```1.3.0```) version to fix this error! Currently it seems to use a very old ```0.15.1```.

Awaiting your fix!!

[2015-04-21 13:16] ChristianGB commented on #11
Thnks man I'll check my page and how it will change

2015-04-21 4:31 GMT-05:00 Jose Philip Raja <notifications@github.com>:

--

*Christian Eduardo Galdámez Blanco*

*Ingeniero en Desarrollo de Software*

*Facebook: https://www.facebook.com/shiroiMangetsu
<https://www.facebook.com/shiroiMangetsu>Teléfono: 044 961 270 47 69*

[2015-04-24 16:08] nemo3000 opened #43 "Composer"
I'm using L5 and with command anouar/paypalpayment:~1.* I have an error and if I use 1.* I have old version not for L5, to solv problem I have overwrite folder from the online version.

[2015-04-24 17:04] xroot commented on #43
try anouar/paypalpayment:1.*

[2015-04-24 17:31] xroot commented on #43
if that doesn't work follow thus steps:
* -Remove the package entirely from under vendor folder
* -Remove the package from composer.json file
*- under composer.lock file find the package object and remove it , do the same for the paypal sdk , we're using new one .
* - Run: composer require anouar/paypalpayment:1.* --prefer-source
Now you should have the L5 version .
Feel free to reopen this issue

[2015-04-24 17:31] #43 closed

[2015-04-24 17:32] xroot commented on #40
Done , go ahead and try it now , sorry for the delay

[2015-04-24 17:32] #40 closed

[2015-04-24 17:35] xroot commented on #39
Not sure what are you trying to do , but you can do whatever you want when you have the response back to from paypal , check this and read comment above the code https://github.com/xroot/laravel-paypalpayment#5-execute-payment

[2015-04-24 17:35] #39 closed

[2015-05-22 06:19] gravitano opened #46 "Use Laravel Config"
Hi,

I know we can merge the config directly from the controller. But, would be nice if we can update the config via Laravel config instead of `ini` file. My suggestion is added a config file that can be publish to the `config` folder, maybe.

[2015-05-22 15:05] xroot commented on #46
ok do that and create

[2015-07-04 18:31] chriskonnertz commented on #46
The whole config is managed by the official PayPal library (paypal/rest-api-sdk-php) so one cannot simlply replace the ini file with a Laravel config file. You had to override parts of the official PayPal library. Honestly - forget about it.

The best thing to do is to copy the ini file to your app directory, e. g. to `app/config/packages/paypal` and to define a constant with the name `PP_CONFIG_P

[2015-07-04 18:47] xroot commented on #46
Hi guys, it's really  simple to add a configuration file, you don't need to use ini file , you can use the  build in setConfiguration function like so ```$apiContext->setConfig(['your configuration])``` , check the readme for more details. I'll update the readme file to include a guide how to use config file soon .if you can create pull request for thats will be great :)

[2015-07-04 18:52] chriskonnertz commented on #46
For what exactly?

[2015-07-04 19:14] xroot commented on #46
add config file to the package

[2015-07-04 19:52] chriskonnertz commented on #46
Done: https://github.com/xroot/laravel-paypalpayment/pull/48

Changelog:
- Updated Readme a little bit
- Created a config file in Laravel style
- Updated the service provider so one can publish the config with the `artisan vendor:publish` command.

It's not actually **using** the new config file!!!

[2015-07-04 20:36] xroot commented on #46
when you run the artisan publish command , do you get the file published ?

[2015-07-04 21:57] chriskonnertz commented on #46
Yes.

[2015-07-04 22:00] xroot commented on #46
I did not try it yet .I'm going to merge it

[2015-07-05 10:04] chriskonnertz commented on #46
Okay, great. Here is how to use it:

[code]

[2015-07-05 11:34] xroot commented on #46
Add this to the readme file and create new pull request :)

[2015-07-09 16:11] nicosli commented on #30
thank you!! i had the same error

Now it's working :)

[2015-07-23 05:34] baljeetbhinder commented on #14
Hi @xroot ,
Can you please help me out.
I have followed your instructions in the comments above and created those 3 methods:
public function create()
public function getConfirmpayment()
public function getCancelpayment()
just the way you did.
When I hit http://localhost:8000/payment/create
it takes me the paypal website correctly as expected.
 then I log in with my sandbox details.
It gets me to t

[2015-07-29 21:30] xroot commented on #46
I'm going to close this issue guys , feel free to reopen it if you need anymore details.

[2015-07-29 21:30] #46 closed

[2015-08-06 10:01] Yorkii opened #50 "Examples in readme.md"
Examples in readme.md won't work since methods are not longer static.

[2015-08-06 11:14] xroot commented on #50
please watch this https://www.youtube.com/watch?v=q5Xb5r4MUB8

[2015-08-06 13:31] Yorkii commented on #50
Yeah, I know how to implement it with latest laravel, but other programmers may be confused by following steps in readme.md :) However, great module :)

[2015-08-06 13:55] xroot commented on #50
For laravel 4 use this branch instead https://github.com/xroot/laravel-paypalpayment/tree/l4 . thanks

[2015-08-06 13:55] #50 closed

[2015-08-09 19:18] josephilipraja opened #52 "Error: Method PayPal\Api\Sale::getTransactionFee() does not exist"
Am getting this error while a successful payment is made on Sandbox/Live
`` Method PayPal\Api\Sale::getTransactionFee() does not exist ``

While digging in google found that it was a PayPal API SDK bug, which was fixed on a newer release of the SDK. Could you please update the PayPal SDK version of this project? That might fix this issue.

Ref: https://github.com/paypal/PayPal-PHP-SDK/issues/255

[2015-08-09 19:21] Geekathon commented on #52
+1 , Please update the SDK.

[2015-08-12 05:26] josephilipraja commented on #52
Hello @xroot please advice a way out of this..

[2015-08-13 11:41] xroot commented on #52
Hi guys,
Could you please create pull request , if not give me some time ,I'm bit
busy :(

On 12 August 2015 at 06:26, Jose Philip Raja <notifications@github.com>
wrote:

[2015-08-22 14:11] adrianoGaspar opened #53 "SetExpressCheckout - question"
Hi, please help me.
It's possible work with SetExpressCheckout? How
Tankyou

[2015-09-02 16:24] arvind132 commented on #32
I have used us account, but still i got 400 response error in my localhost. could you please tell me what will be the mistake?

[2015-09-02 16:25] arvind132 opened #54 "Response Code 400"
I have used us account client id and secret ,but still i got the 400 response error ,please guide me.

Thanks in advance

[2015-09-07 03:43] tan0300 opened #55 "Response 404"
Got Http response code 404 when accessing https://api.sandbox.paypal.com/v1/payments/payment/store.

here is my controller

<?php

class PaypalPaymentController extends BaseController {

    /**
     * object to authenticate the call.
     * @param object $_apiContext
     */
    private $_apiContext;

    /**
     * Set the ClientId and the ClientSecret.
     * @param
     *string $_ClientId

[2015-09-07 03:54] #55 closed

[2015-09-25 11:56] jensej opened #58 "What if I want to use other method payment like donation?"
What if I want to use other method payment like donation?

[2015-09-25 14:56] xroot commented on #58
in this case just login to your account and generate a donation button then use that code directly within your app , you don't need to use this package at all.

[2015-10-08 13:04] imdketav commented on #3
@xroot  I followed all steps as you mention but when I run script it will through an error like this.
FatalErrorException in PaypalPaymentController.php line 41:
Class 'Paypalpayment' not found
![screenshot from 2015-10-08 18 33 58](https://cloud.githubusercontent.com/assets/15032918/10366947/2d479df8-6deb-11e5-910a-d4c27826db66.png)

[2015-10-08 13:05] chilion commented on #3
Seems like you didn't add a USE in the top of your code? Can you show your code?

[2015-10-08 13:10] imdketav commented on #3
@chilion  This is my code

<?php

namespace my_app\Http\Controllers;

use Illuminate\Http\Request;
use my_app\Http\Requests;
use my_app\Http\Controllers\Controller;
use Paypalpayment;

class PaypalPaymentController extends Controller {
    /**
     * object to authenticate the call.
     * @param object $_apiContext
     */
    private $_apiContext;

    /**
     * Set the ClientId and the ClientS

[2015-10-08 13:13] chilion commented on #3
Ah allright, seems good. config/app.php, added facades and serviceprovider

[2015-10-08 13:18] imdketav commented on #3
@chilion  in my config/app.php file there is not a service provider but providers is there and i already add this line to providers array
Anouar\Paypalpayment\PaypalpaymentServiceProvider::class,

and in Aliases array
'Paypalpayment'   => Anouar\Paypalpayment\Facades\PaypalPayment::class,

But there is not a single work like facades..

Can you explain it to me?

[2015-10-08 22:34] xroot commented on #3
@imdketav : try composer dumpautoload if it doest work , please watch the video https://www.youtube.com/watch?v=q5Xb5r4MUB8 you may missed something

[2015-10-09 05:33] imdketav commented on #3
@xroot : I have been watched video given you and I found where is problem.
Problem is In **vendor** folder only anouar folder is there but  **paypalpayment folder is not available**.
That's why I am getting error **Class 'Anouar\Paypalpayment\Facades\PaypalPayment' not found**
![screenshot from 2015-10-09 11 03 05](https://cloud.githubusercontent.com/assets/15032918/10386466/5c336ef0-6e75-11e5-9ef

[2015-10-09 09:57] imdketav commented on #3
@xroot : Video given you that helps me a lot. But I'm still getting one error like this **Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment.**

How can I fix this error?
![screenshot from 2015-10-09 15 24 49](https://cloud.githubusercontent.com/assets/15032918/10391055/ee181f4a-6e99-11e5-9866-85a38d0e4a57.png)

[2015-10-09 11:47] imdketav commented on #54
@arvind132 : I am also facing same issue **Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment.**

[2015-10-09 18:55] xroot commented on #3
@imdketav share with me your code , also make sure your paypal API keys are correct , for testing use sandbox api keys

[2015-10-13 05:22] imdketav commented on #3
@xroot Following is my code
**Code of PaypalPaymentController.php**
    <?php

    namespace my_app\Http\Controllers;

    use Illuminate\Http\Request;
    use my_app\Http\Requests;
    use my_app\Http\Controllers\Controller;
    use Paypalpayment;

    class PaypalPaymentController extends Controller {
     /**
         * object to authenticate the call.
         * @param object $_apiContext

[2015-10-13 12:10] xroot commented on #3
@imdketav : I have updated your code , check it now , from the error I may guess you're not using the correct API keys.

[2015-10-14 05:54] imdketav commented on #3
@xroot I'm still getting same error..
when I use Client ID and Client Secret in Core PHP Paypal Integration then it works perfectly. Only in Laravel I'm facing problem.

[2015-10-14 09:47] imdketav commented on #3
fvxcvxcvxcvxcvxv

[2015-10-20 04:37] yulioDamian opened #59 "Add multiple items"
I'm trying to add several products in a settlement but sends me an error
Is this

public function addItem($items){
        $item=Paypalpayment::item();
        $item->setName($item->name)
             >setDescription($items>descripcion)
             ->setCurrency('USD')
             >setQuantity($items>cantidad)
             ->setTax(0.2)
             >setPrice($items>precio);
         return $ite

[2015-10-30 18:54] pelhage commented on #52
So does the SDK needs to be updated? I've been running into multiple issues: 400 error, and Method PayPal\Api\Sale::getFmfDetails() does not exist.

[2015-10-30 19:03] pelhage commented on #59
From what I've gathered, it looks like this SDK is outdated. (Someone correct me if I'm wrong)

[2015-10-31 02:22] yulioDamian commented on #59
Already solved the problem
Items=array()
Foreach(producto as key=>p)
Items[key]=item

[2015-10-31 02:22] #59 closed

[2015-11-04 12:38] sharjeeldevep commented on #11
Hey Guys,

I was facing same issue then got solution.

change mode "sandbox" to "live" and  log.LogLeve "DEBUG" to "LIVE"
/* Sandbox * /
    $apiContext->setConfig(
        array(
            'mode' => 'sandbox',
            'log.LogEnabled' => true,
            'log.FileName' => '../PayPal.log',
            'log.LogLevel' => 'DEBUG', // PLEASE USE `FINE` LEVEL FOR LOGGING IN LIVE ENVIRONMENTS

[2015-11-11 13:31] wessodesigner commented on #53
Want to know that too. How can we use paypal express instead of credit cards payments?

[2015-11-11 13:35] xroot commented on #53
if you want to use payment without credit card , just switch setPaymentMethod to paypal instead of credit_card . I'll create a demo video within this week about this ....

[2015-11-20 23:56] xroot commented on #55
glad to hear that :)

[2015-11-20 23:59] xroot commented on #3
@imdketav please watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8&feature=youtu.be

[2015-11-25 07:25] sakshigargit15 opened #60 "401 Unauthorized in sandbox redirect url"
/*
    \* Process payment using credit card
    */

[code]

I have written this code in my controller but after return Redirect::to( $redirectUrl ); when I am redirecting to https://api.sandbox.paypal.com/v1/payments/payment/PAY-9U637020G4057981HKZKV5FA . It's giving me 401 unautherized error.

Please can you help me out to resolve this problem

[2015-11-25 08:14] sakshigargit15 commented on #60
Hi @xroot
Please help me out

[2015-11-25 14:09] xitude opened #61 "Accessing Transactions"
Could you use this to find details of the transaction by going to a url like

[code]

Im trying to access transactions on my account via a dashboard.

[2015-11-26 09:28] xitude opened #62 "Lumen Support"
Does this support lumen? Can you document it please.

[2015-11-28 00:34] xroot commented on #60
@sakshigargit15 I have already made a video on how to implement the package within your laravel app , you can check it in here https://www.youtube.com/watch?v=q5Xb5r4MUB8 , watch video and make sure you're not missing something because the apiContext should use the credentials we have withing a config file , which you can find when publish the package using the artisan CMD

[2015-11-28 00:44] xroot commented on #62
@xitude I have not tested it with lumen , but I think yes

[2015-11-28 00:44] #62 closed

[2015-11-28 00:45] xroot commented on #61
@xitude it up to you how to customize your routes , but you need to write the code that handle this logic yourself , for more details watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8

[2015-11-28 00:48] xroot commented on #54
@arvind132 try to watch this video to make sure you have implemented the package correctly https://www.youtube.com/watch?v=q5Xb5r4MUB8

[2015-11-28 00:49] #53 closed

[2015-11-28 00:52] xroot commented on #52
please watch the video to make to sure you have implemented the package correctly https://www.youtube.com/watch?v=q5Xb5r4MUB8

[2015-11-28 00:52] #52 closed

[2015-11-30 07:41] renjithvk commented on #54
I got the same problem while configuring...

[2015-12-05 10:12] samundrak opened #63 "How to make payment method to paypal"
how can i set payment type to paypal so users will pay it from paypal and get me response back

[2015-12-21 19:41] pelhage commented on #54
Can @arvind132 confirm if the video @xroot provided solved all issues?

[2015-12-21 20:51] pelhage commented on #54
@xroot Does version 1.0 of this package support the latest PHP SDK? I'm using Laravel 4.2, which is why I think there might be issues.

[2015-12-22 17:34] pelhage commented on #54
@renjithvk  Have you found a solution?

[2015-12-23 02:44] renjithvk commented on #54
I'm re-installed the package and then it solved.

[2015-12-26 22:13] ankit0205 commented on #30
If i am submitting wrong credit card info then its giving exception instead of errors, so please anyone can help me here, how i can print errors instead of exceptions.
Thanks
Ankit

[2016-01-05 03:03] bobbygerez opened #66 "Currency is not supported"
It doesn't support PHP currency it will give a response of currency is not supported. I've check it in https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/ but they support PHP currency. What will I do? Thanks

[2016-01-11 11:59] floodedcodeboy commented on #58
@xroot i'm pretty sure @jensej is asking how you would do that using your package and not a donate button. I know i'd certainly like to know. :p

[2016-01-11 18:54] paulocastellano opened #67 "Installment payment"
Hi,

i dont see in doc and code about installment, this package have it ?

Thanks!

[2016-02-02 20:11] soly2014 opened #68 "refund with paypal"
how can i enable refund in paypal

[2016-02-10 20:50] onurkose opened #69 "shipping address has no affect"
unless you bind it into itemslist

$addr = ....

$itemList->setShippingAddress($addr);

[2016-02-12 20:43] onurkose opened #70 "$PayerID, not grab from DB!"
PayerID is from paypal return value, not some payer id value of your database records.

[2016-02-16 15:08] hoangphucvu opened #71 "PayPalInvalidCredentialException in PayPalCredentialManager.php"
I have this errors how can i fix it thanks

[2016-02-17 10:16] masterpowers opened #72 "is this updated for laravel 5.2?"
Still looking around if it is ok in laravel 5.2
Anyone can shed me some light?

[2016-02-23 18:08] psgganesh commented on #72
Yes, it works on laravel 5.2 also, i have tested it; ensure the logging is set to false, or ensure the log file is reachable. This item can be closed it works like charm...

[code]

[2016-02-23 18:11] psgganesh commented on #58
I am making it even more simpler, at the start am accepting $0.00, they enter what they want, i wanted this to ensure payments big / small can be logged... :smile:

I think this item can be closed, I feel no action required here...

[2016-02-23 18:20] psgganesh commented on #58
lol.. i am testing again 0.0 payments i get 400 response code,, turned out to be bullocks :-1:  guess it depends on the implementation which we do in the end...

[2016-03-08 07:45] umefarooq opened #73 "upgrade Paypal core libraries names"
Please upgrade this package, as Paypal has updated their core libraries names here is one example

PPConfigManager -> PayPalConfigManager and so many other libraries name changed

read here Paypal full changes log

https://github.com/paypal/PayPal-PHP-SDK/blob/82971057e15c067e6269591fad44986041e67d15/release_notes.md

[2016-03-29 12:19] kykylkan opened #74 "Payouts"
Hello! How i can create a Payouts? Thank you very mach!

[2016-03-29 12:33] kykylkan commented on #74
I find a Payout class, but his not include in PaypalPayment class.

[2016-03-30 14:56] jeraldpunx commented on #32
Help me, I got this too. The keys are correct and updated the composer too. Need help please.

[2016-05-24 10:04] vishakhakadam opened #75 "Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment."
whiel credit card transaction with paypal using laravel 5

[2016-06-10 06:33] karthikjs commented on #3
@anouarabdsslm
 am getting

PaymentHistory {#171
  -_propMap: []
}
what response am getting. how proceed next step.....

how to give a payment details via api as well as website. pls help
****

[2016-06-27 14:31] rifayman commented on #25
for me even if i had  changed sdk_config.ini  it does not work

[2016-07-01 11:16] explorer-arup commented on #75
Faced similar issue,updating the card details worked for me
[code]

[2016-07-05 15:48] hussamgamal opened #76 "how to get payer_id"
this worked with me very good . but when i create first payment i can not find payer_id
and how to use it to collect his card information to use it again at any other shopping
thanks

[2016-07-28 14:07] danieljausovec opened #77 "Using a different payment method"
Hi.

When login to buy with paypal i get this message...i use sandbox account.

`We aren't able to process your payment using your PayPal account at this time. Please go back to merchant and try using a different payment method.`

How to fix this?

[2016-07-28 15:05] ravindranath143 opened #78 "name and expiry date issue"
Hi anouarabdsslm,

i have followed your tutorial and everything is working fine. but my problem is except card number if i give rest off all values wrong then also it is processing payment. i mean first name , last name , expiry date , cvv etc.. can you please tell me whta can i do.

Thans in advance

[2016-08-22 21:10] seldimi opened #79 "How to use item_number or similar"
Hey. I have followed  your examples but still face some issues.
I cannot find a way to properly use custom (with setCustom) or item_number.

I don't want to use item SKU or invoice, I want to use custom or item_number as used with POST examples.

I need to verify that payment is made from user and get a custom ID for this order.
I make paymentExecution but the array is too complex to parse (even g

[2016-09-08 14:26] shyam-shinde opened #80 "Got Http response code 500"
keep getting http response 500 when tried to make payments using sandbox account . below is the error log I am getting

[08-09-2016 02:18:33] PayPal\Core\PayPalHttpConnection: INFO    : POST https://api.sandbox.paypal.com/v1/oauth2/token
[08-09-2016 02:18:34] PayPal\Core\PayPalHttpConnection: INFO    : Invalid or no certificate authority found - Retrying using bundled CA certs file
[08-09-2016 02:

[2016-09-14 08:32] cedrico2016 commented on #33
thank you very much for this ticket.. i've checking for this error for hours...

[2016-09-22 12:33] Gameonn opened #81 "How can we link a particular order with the transaction id?"
After we click on "Buy Now Button", it takes us to paypal payment gateway and then it returns a json

`array:38 [▼
  "mc_gross" => "7.00"
  "protection_eligibility" => "Ineligible"
  "address_status" => "confirmed"
  "payer_id" => "MWHLPR84SBL9N"
  "tax" => "0.00"
  "address_street" => "8577 South Front Circle  East Northport, NY 11731"
  "payment_date" => "04:14:15 Sep 22, 2016 PDT"
  "payment_st

[2016-09-22 12:42] Gameonn commented on #72
What do I need to add in my code for the auto return from paypal in Laravel 5.2?

`<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="vandit-facilitator@test.com">
<input type="hidden" name="item_name" value="Music Cart">
<input type="hidden" name="button_subtype" value="services">

[2016-09-22 12:45] Gameonn commented on #61
How can I access the transactions details using the transaction id in Laravel 5.2?

[2016-10-08 10:31] tuhin-paul opened #83 "Not able to generate the configuration file"
I am using Laravel 4. I have followed all the steps mentioned to install this package. But when I reach the part where we have to make changes to the configuration file which needs to be generated through this command `php artisan config:publish anouar/Paypalpayment`, I can't see the file being generated even though the Artisan says: `Configuration published for package: Anouar/Paypalpayment`. I d

[2016-10-09 01:06] galamz opened #84 "qsdqdqsdqsd"
add me thx

[2016-10-17 09:08] rameshsrinivasan commented on #54
I don't get any solution. Please help me.

[2016-10-17 09:16] rameshsrinivasan commented on #32
What is mean IN account? Please help me, I also facing same issue.

[2016-10-30 23:58] anouarabdsslm commented on #54
@rameshsrinivasan  sorry for the late response guys I had tons of work . what's the issue you're running into ?

[2016-10-31 00:02] anouarabdsslm commented on #58
sorry for the delay guys . does this still valid issue. if not I can close it.

[2016-10-31 00:04] anouarabdsslm commented on #83
@tuhin-paul  sorry for the late response . can you watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8 it will help you setup this package.

[2016-10-31 00:06] anouarabdsslm commented on #81
@Gameonn  this is something that you can look into on the paypal doc. feel free to reopen if you dont find any help there.

[2016-10-31 00:06] #81 closed

[2016-10-31 00:07] anouarabdsslm commented on #84
?

[2016-10-31 00:07] #84 closed

[2016-10-31 00:07] anouarabdsslm commented on #83
I'm gunna close it and feel free to re-open if that did not solve your problems

[2016-10-31 00:07] #83 closed

[2016-10-31 00:08] anouarabdsslm commented on #80
@shyam-shinde  watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8 and make sure you have configured the package correctly .

[2016-10-31 00:08] #80 closed

[2016-10-31 00:10] anouarabdsslm commented on #79
@seldimi I think this is something you can check on the paypal doc

[2016-10-31 00:10] #79 closed

[2016-10-31 00:12] anouarabdsslm commented on #74
@kykylkan  you can open PR for that and will look into it .

[2016-10-31 00:12] #74 closed

[2016-10-31 00:12] #60 closed

[2016-10-31 00:14] anouarabdsslm commented on #61
@Gameonn use the transaction id and send get request to the paypal api. I think you can find more details about this in there API doc

[2016-10-31 00:14] #61 closed

[2016-10-31 00:18] anouarabdsslm commented on #66
it should accept that if your paypal pro account currency much the currency you have set there.

[2016-10-31 00:18] #66 closed

[2016-10-31 00:19] anouarabdsslm commented on #67
@paulocastellano watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8 it will help you setup the package

[2016-10-31 00:19] #67 closed

[2016-10-31 00:20] anouarabdsslm commented on #77
what was the payment method you have used ?

[2016-10-31 00:20] #77 closed

[2016-10-31 00:22] anouarabdsslm commented on #73
@umefarooq  sorry for the delay and thanks for mentioning that . would you like take over that . I really have tons of work. I may need to have some other people help to improve this package.

[2016-10-31 00:22] #73 closed

[2016-10-31 00:24] anouarabdsslm commented on #78
@ravindranath143 Actually this is something handled on paypal side. I cant do anything about it .

[2016-10-31 00:24] #78 closed

[2016-10-31 00:25] anouarabdsslm commented on #76
@hussamgamal lot of this details will be included within the paypal doc if you give it a shot .

[2016-10-31 00:25] #76 closed

[2016-10-31 00:26] anouarabdsslm commented on #75
@vishakhakadam can you please watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8 to make sure you have setup the package correctly

[2016-10-31 00:26] #75 closed

[2016-10-31 00:27] #72 closed

[2016-10-31 00:28] anouarabdsslm commented on #71
@hoangphucvu can you please watch this video https://www.youtube.com/watch?v=q5Xb5r4MUB8 . let me know if that did not help you solve yr prblm

[2016-10-31 00:28] #71 closed

[2016-10-31 00:29] anouarabdsslm commented on #70
does this issue still valid ?

[2016-10-31 00:29] #70 closed

[2016-10-31 00:30] anouarabdsslm commented on #69
@onurkose  I dont understand where you . can you plz explain your issue if this still valid

[2016-10-31 00:30] #69 closed

[2016-10-31 00:30] anouarabdsslm commented on #68
@soly2014 I'll suggest to have look on the paypal API doc. I either have no idea

[2016-10-31 00:30] #68 closed

[2016-10-31 00:32] anouarabdsslm commented on #63
switch the payament method

[2016-10-31 00:32] #63 closed

[2016-10-31 00:33] #58 closed

[2016-10-31 00:33] #54 closed

[2016-10-31 07:11] seldimi commented on #79
Well, I couldnt find anything related so was hoping for some help...

[2016-10-31 07:35] onurkose commented on #70
I'll let you know after I check both issues. those are very old from my
previous projects.

------------------------------------------------------------------------
Onur KÖSE

+39 347 757 81 76
+90 533 376 66 48

On Mon, Oct 31, 2016 at 1:29 AM, Anouar Absslm <notifications@github.com>
wrote:

[2016-10-31 13:33] danieljausovec commented on #77
PayPal...this message is get on paypal site when i login.

[2016-10-31 14:25] Gameonn opened #85 "What do I need to change to redirect to new layout of Paypal after clicking Buy now button"
I have executed paypal in my website and it is redirecting it to old layout website, what should I change to redirect to new layout of paypal?

[2016-10-31 16:30] anouarabdsslm commented on #79
plz take look here https://developer.paypal.com/docs/integration/direct/create-process-order/#create-the-order

[2016-11-02 00:15] anouarabdsslm commented on #85
@Gameonn you can do that by create new instance of the Redirect URL class like so :
[code]

[2016-11-02 00:15] #85 closed

[2016-11-02 07:21] Gameonn commented on #85
Currently I am just using a paypal form for payment.
`<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
     <input type="hidden" name="cmd" value="_xclick">
     <input type="hidden" name="hosted_button_id" value="UQGZBANSW9H4S">
     <input type="hidden" name="item_name" value="Music Cart">
     <input type="hidden" name="item_number" value="M-CART X_{{$order_id}}">
     <input

[2016-11-19 07:52] schuesslerf opened #86 "PayPal Payment suddenly not working any more"
I have a problem with the payment suddenly, but it worked before and I just don't get it... I just posted the problem on stackoverflow as well: http://stackoverflow.com/questions/40684154/paypal-payment-not-working-any-more-laravel-paypal

Can you maybe help me with that? (Doesn't mind if you answer it here or on stackoverflow)

[2016-11-24 00:41] anouarabdsslm commented on #86
@schuesslerf  sorry man for the late response . I was bit busy and did not have much time to check the reported issue. can you please clarify to me what's the error/ exception you get

[2016-11-24 06:34] schuesslerf commented on #86
Hello, I now somehow got it fixed and I have no idea why, it seems like some formatting changed the behaviour (and the try-catch-blocks). I don't know why, but however it seems to work now.... I have one other question: Do you know if its possible to enter more then one amount for shipping costs? Like 2.5 for one product, 2.7 for the other, and 9.2 for the third, you know what I mean? Or is this n

[2016-11-24 13:18] anouarabdsslm commented on #86
@schuesslerf  no , but you can count the total  and set it at once when you set the shipping with details object

[2016-11-24 13:18] #86 closed

[2017-01-04 09:58] andangr opened #87 "Payment Status"
i have some requirement to differentiate payment status.
unpaid, cancelled, success and failed.
i try to get payment details by following your documentation, section "4-Get Payment details",
but I only receive created, or approved state in my response.

is there any idea for this issue?
if this requirement has already provided by this package, any documentation or example will be appreciated.

Tha

[2017-01-06 07:12] andangr commented on #87
I use this logic,
"unpaid" when callback url is never hit,
"cancelled" when user click cancel button on confirmation page (paypal page) and redirect to cancelled url in our system,
"failed" when get some errors in executing payment.
and "success" whenever everything okay.

May be it will be needed by anyone who has just started implementing this package.
Thank you,

[2017-01-06 07:12] #87 closed

[2017-01-16 12:45] alankarmore opened #88 "What if not taking credit and debit card details on my website."
How I can use this library if I am not accepting credit card / debit card details on my website.
If I want to redirect user to paypal to process payment via credit / debit card,

Is there any changes that I need to do when I am using this library..

[2017-01-16 14:48] filtration opened #89 "PPConfig file needs changing."
In PaypalPayment.php you need to change:

    use PayPal\Core\PPConfigManager;

to

    use PayPal\Core\PayPalConfigManager as PPConfigManager;

Paypal renamed their file.

[2017-01-21 09:34] shigawaka opened #90 "Examples clarifications"
-I was wondering if I need to create table in DB when using paypal payment?

-In sandboxed mode I need 2 accounts, 1 is for the Buyer and the other is for Seller. Do I need to create another account for the other one or is it automatically processed if details are just filled in?

This is probably a stupid things to ask. Sorry for that

[2017-02-02 08:34] axayhg opened #91 "Call to undefined method Illuminate\Foundation\Application::share()"

[2017-02-02 18:40] HapLifeMan commented on #91
It's an issue with Laravel 5.4, downgrade to 5.3 then it will be solved...

[2017-02-02 20:33] #91 closed

[2017-02-02 23:26] HapLifeMan opened #92 "Update your PayPal SDK"
Hi, please update the `paypal/rest-api-sdk-php` in your `composer.json` from `1.3.0` to `1.11.0` to prevent SSL issues over HTTPS... I made a pull request https://github.com/anouarabdsslm/laravel-paypalpayment/pull/93 :)

[2017-02-16 01:49] anouarabdsslm commented on #92
left you a question there . lets discuss this on the PR  instead

[2017-02-16 01:49] #92 closed

[2017-02-16 01:53] anouarabdsslm commented on #90
@shigawaka  buyer is the person going to order your product , seller is the account where the payment should go to when order completed (this is will be paypal account). for sandbox we have created to seller to simulate the recipient of payment  and buyer a demo customer  to work with. does it make sense?

[2017-02-16 01:54] anouarabdsslm commented on #89
@filtration can you open PR

[2017-02-16 01:55] anouarabdsslm commented on #88
@alankarmore  set payment option to paypal

[2017-02-16 04:43] shigawaka commented on #90
Ah yes. I figured it out few hours after I post this question. Thanks!

[2017-02-16 04:43] #90 closed

[2017-02-17 15:59] YannisHeine opened #100 "Call to undefined method Illuminate\Foundation\Application::share()"
Steps Reproducing the bug:

1. Start Fresh Installation Laravel 5.4
2. Install Package (added  "anouar/paypalpayment": "~1.0" to composer.json)
3. Add Providers to Config/App.php
4. Run PHP Artisan in console. [ERROR]

Error Message:

[Symfony\Component\Debug\Exception\FatalThrowableError]
Call to undefined method Illuminate\Foundation\Application::share()

[2017-02-17 16:01] #100 closed

[2017-02-25 00:13] #89 closed

[2017-02-25 00:13] #88 closed

[2017-02-27 03:17] marteagam commented on #100
This worked for me:
"require": {
    "anouar/paypalpayment": "~2.0"
}

[2017-02-27 03:17] marteagam commented on #91
This worked for me:
"require": {
"anouar/paypalpayment": "~2.0"
}

[2017-03-08 11:48] evgeny-birch opened #101 "Fatal error: Call to undefined method Illuminate\Foundation\Application::share()"
Hi!
I am install package through Composer
"require": {
    "anouar/paypalpayment": "~1.0"
}

In composer package, class PaypalpaymentServiceProvider not changed line 45:
$this->app['paypalpayment'] = $this->app->share(function($app)

to:
$this->app->singleton('paypalpayment', function($app)

thanks!

[2017-03-15 08:38] thom7kick opened #102 "Where to see payment made on the sandbox.paypal.com"
I am getting a response that payment is approved but can't see anything on my paypal sandbox account. How does this work.

[2017-03-15 10:02] thom7kick opened #103 "PayPalResourceModel.php line 45: Invalid argument supplied for foreach()"
at this point `$approvalUrl = $payment->getApprovalLink();` i am getting the error. Here is my response when i am using the

i am not getting response on status or not a url to redirect a user to to complete paypal method, help me around here. Here is the response i got:
[code]

[2017-03-21 14:55] HapLifeMan commented on #103
Please debug your code, add `dd($ex);` when trying to create the payment to catch the exception and see what's wrong with your code ;)

[2017-03-23 12:38] thom7kick commented on #103
@HapLifeMan after doing `dd($ex)` I get `message:Could not resolve host: api.sandbox.paypal.com`

[code]

[2017-03-25 00:55] HapLifeMan commented on #103
Are you trying to use the SDK in `live` mode? (`ClientID` and `ClientSecret`)

[2017-03-25 01:06] HapLifeMan commented on #102
You have to create a [sandbox account](https://www.sandbox.paypal.com) then link with your developer account [here] on "Click Here" (https://developer.paypal.com/developer/accounts/) ;)

[2017-03-27 09:43] s201236215H opened #104 "Problem when go live"
There is no "mode" key in `config\paypal_payment.php` , manually add `'mode' => 'LIVE'` solve the issue.

[2017-03-28 07:02] thom7kick commented on #102
@HapLifeMan so when i login to sandbox with the facilitator account i can see payment made using credit card. But i cant see paypal payments. i got the redirect url made payment and got the call back
 `http://whatever.loc/callback?success=true&paymentId=PAY-2J809046DA3584001LDNAP4A&token=EC-73923433HP409401Y&PayerID=24P7C5D9YG8H4`

but i don't see any transaction

[2017-03-28 07:16] thom7kick commented on #103
@HapLifeMan i am at sandbox

[2017-03-28 12:59] HapLifeMan commented on #102
You can trust PayPal, you have no reason to see the payment on PayPal. You can retrieve the payment with the API : https://developer.paypal.com/docs/api/payments/#payment_get!

[2017-03-28 13:09] HapLifeMan commented on #103
Try to [restart your Apache/Nginx](https://github.com/paypal/PayPal-PHP-SDK/issues/806) and [check your DNS](http://stackoverflow.com/questions/36545696/paypal-restful-could-not-resolve-host)...

[2017-03-28 18:58] prabhat2k15 commented on #3
![error](https://cloud.githubusercontent.com/assets/26509407/24422268/8cc2acbe-1416-11e7-8369-8f6c41b621c2.png)
i am getin this error...how to get rid of this..

[2017-03-30 06:37] thom7kick commented on #102
@HapLifeMan what i did was i went to the developer account and take the buyer and facilitator test account. And when i login with the facilitator i could see the transactions.
Thank you for your time.

[2017-03-30 06:37] #102 closed

[2017-03-30 06:38] thom7kick commented on #103
@HapLifeMan this worked for no reason but i get the same error quite frequently.

[2017-03-30 18:03] HapLifeMan commented on #103
This is now a problem with your server or configuration, not the API...

[2017-04-02 20:32] HoracioEspinosa commented on #103
The problem is for your subtotal, i had the same problem.

[2017-04-10 08:22] #103 closed

[2017-04-13 21:02] thom7kick opened #106 "On Live Site: Class 'PayPal\Core\PPConfigManager' not found"
FatalThrowableError in PaypalPayment.php line 254:
Class 'PayPal\Core\PPConfigManager' not found
@anouarabdsslm

[2017-04-21 04:19] lodhiyuvraj opened #107 "Requested resource ID was not found"
I am trying to intigrate paypal then got error
{"name":"INVALID_RESOURCE_ID","message":"Requested resource ID was not found.","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID","debug_id":"2ec08e9daee0"}

[2017-04-21 23:56] LukaSikic opened #108 "Error after switching to live!"
Please help! Everything works great on sandbox, but when I changed endpoint to "https://api.paypal.com" and changed ClientId and ClientSecret, I get an error, I also tried to set mode manually as 	@s201236215H mentioned. Doesn't work for me.

ErrorException in PayPalResourceModel.php line 44:
Invalid argument supplied for foreach()

`in PayPalResourceModel.php line 44
at HandleExceptions->handleEr

[2017-04-22 14:13] mafftor commented on #108
Switch mode from Sandbox to Live in https://developer.paypal.com/developer/applications/

[2017-05-08 14:42] al0mie commented on #106
@thom7kick It's because paypal sdk was updated. You can rename it to PayPalConfigManager. Was solved in #96

[2017-05-15 21:06] anouarabdsslm commented on #104
@s201236215H can you open a PR for that ?

[2017-05-15 21:07] anouarabdsslm commented on #108
@mafftor wanna open a PR for that ?

[2017-05-15 21:08] anouarabdsslm commented on #107
can you share your peace of code plz

[2017-05-15 21:12] LukaSikic commented on #108
Yo, I had to go and edit PayPal SDK core and put it to live. You should integrate this to your package.

[2017-05-15 21:17] anouarabdsslm commented on #108
which paypal SDK u have used ?

[2017-05-15 21:18] LukaSikic commented on #108
Official, latest one I guess.

[2017-05-17 15:36] nickbluestone98 opened #110 "Shipping address as well as normal address"
Hello,

The API is working great for me. I just want to know if there is anyway to set a shipping address separately to the billing address? I really need this functionality! The below code works for address great, but if users ship to a different address how can I achieve this?

[code]
Just to add I know you can do it through the API, just not sure if your Laravel extension supports it with a spe

[2017-05-17 16:02] nickbluestone98 commented on #110
Just to add I know you can do it through the API, just not sure if your Laravel extension supports it with a specific function.

You can do this with default API:

[code]

Kind Regards,

Nick.

[2017-05-18 09:27] nickbluestone98 commented on #110
Just had a good browse through the API's core functions! there is a `shippingAddress();` function which works great!

$shipping_address = Paypalpayment::shippingAddress();

$shipping_address->setRecipientName('TEST NAME');
$shipping_address->setLine1($shipping_address1);
$shipping_address->setLine2($shipping_address2);
$shipping_address->setCity($shipping_city_district);
$shipping_address->setPost

[2017-05-22 17:34] anouarabdsslm commented on #110
@nickbluestone98  thanks for posting the solution here. yes sometimes you just need to check the package core to get answers.

[2017-05-22 17:34] #110 closed

[2017-05-22 17:36] anouarabdsslm commented on #108
@LukaSikic that fixed within the latest release. use ~2.0

[2017-05-22 17:36] #108 closed

[2017-05-22 17:37] anouarabdsslm commented on #107
@lodhiyuvraj will close this for now. But if this issue is still valid you can re-open it and provide some more details.

[2017-05-22 17:37] #107 closed

[2017-05-22 17:38] anouarabdsslm commented on #106
@thom7kick we are using now the latest paypal SDK with the last version , try it out.

[2017-05-22 17:38] #106 closed

[2017-05-22 17:39] anouarabdsslm commented on #104
@s201236215H that option is added now

[2017-05-22 17:39] #104 closed

[2017-05-22 17:39] anouarabdsslm commented on #101
This bug is fixed

[2017-05-22 17:39] #101 closed

[2017-05-23 08:06] nickbluestone98 opened #111 "Catching PayPal PHP API 400 errors on localhost:8000"
The package works great! and I am taking payments perfectly! I am struggling to catch and redirect when incorrect details e.g. bank card details are entered by a user. The Laravel application just throws a 400 error.

What I am wanting to do is catch the errors and redirect back and notify the user.

The code below is where I make a request:

[code]

When a successful payment is made I get a nice

[2017-05-25 14:17] anouarabdsslm commented on #111
@nickbluestone98  check on paypal what does that error code refer to then customize the error message to your users.

[2017-05-25 14:42] nickbluestone98 commented on #111
Hello @anouarabdsslm ,

I have checked the docs, the code is failing to catch errors and just throws a Laravel  400 error. I have looked around the net and found articles like this: https://stackoverflow.com/questions/33138269/laravel-paypal-payment-return-400 everything
Everything seems correct, look at my below code.

[code]
Can you double check at your end? the API handles 400 errors for you?

[2017-05-30 08:39] nickbluestone98 commented on #111
Hello, can I nudge you on this?

Nick.

[2017-05-30 08:41] nickbluestone98 commented on #111
![screen shot 2017-05-30 at 09 41 02](https://cloud.githubusercontent.com/assets/20666118/26575208/21f3d8a4-451c-11e7-9351-89f7d12e4c0f.png)

[2017-05-30 17:02] anouarabdsslm commented on #111
@nickbluestone98  sorry for delay , the issue is the exception type you are catching is not exist with the new paypal sdk , try to use `PayPalConnectionException` instead of `PPConnectionException` I will update that in the doc as well

[2017-05-30 17:02] anouarabdsslm commented on #111
@nickbluestone98  if that solve your issue let me know so i can close this issue. thanks

[2017-05-31 06:07] binitghetiya commented on #111
I got the same error.
As per my understanding error is not from Paypal but from laravel storage permission, i gave (sudo chmod 777 -R storage/) permission to storage and it works fine as per documentation.

Thanks for the library saved lots of my time :+1:

[2017-05-31 08:35] nickbluestone98 commented on #111
@binitghetiya Don't really understand how the error can be related to the storage permissions, I tried anyway and it did not work.

@anouarabdsslm This different call did not work either, see below code:

[code]
I think it has to be a small bug with way the API handles it's errors. In the `PayPalHttpConnection.php` located in the PayPal core (where the error is occurring) the `$ex` fails to throw

[2017-05-31 11:55] nickbluestone98 commented on #111
Right guys,

It would appear that Laravel's default `Exception` method was interfering with the PayPal API `PayPalConnectionException`. So I modified the code to catch general `Exception` errors only as it contained all required error objects. The `\` before `Exception` was critical! as it needs the correct namespace (in my case anyway, your application may be different).

    try {
        // ###

[2017-05-31 12:05] binitghetiya commented on #111
For more we can first catch PPException then catch parent Exception something like below right ?

[code]

[2017-05-31 12:09] nickbluestone98 commented on #111
@binitghetiya Try submitting incorrect card details and see how your application retrieves and handles the errors. For me `\PPConnectionException` and `PayPalConnectionException ` were always ignored and Laravel just caught using the general `\Exception` method.

[2017-05-31 12:28] binitghetiya commented on #111
@nickbluestone98  yes i got  the same problem only \Exception class will be able to catch that.
Thanks for Explanation. :+1:

[2017-05-31 12:54] nickbluestone98 commented on #111
@binitghetiya No problem 👍

[2017-05-31 22:37] anouarabdsslm commented on #111
@nickbluestone98 @binitghetiya  sorry for delay guys, anyway each one handle the exceptions the way it works for his project.Good luck guys

[2017-05-31 22:37] #111 closed

[2017-07-07 11:15] gauravmrvh1 opened #112 "Class Error"
Class 'Services_Twilio' not found

[2017-07-07 11:20] binitghetiya commented on #112
@gauravmrvh1 can you please explain more bcz this library is not using Twilio as dependency. please check and explain more.

Thanks

[2017-07-09 13:36] avinashpothula commented on #11
Response code: 415	Error response: Server returned HTTP response code: 415 for URL: https://api.sandbox.paypal.com/v1/oauth2/token
what was that meaning my credentials are correct . how to solve this error
any one help in java

[2017-07-12 04:54] FranklinStuar opened #113 "no change to live"
I'm trying publish my page but I've errors. No change from sandbox to live.

The code in paypal_payment is:

- 'EndPoint' => 'https://api.paypal.com',
- 'mode' =>  'live'

The credentials is true, no problem in this code

[2017-07-19 16:36] portalshow opened #114 "[ErrorException] Constant PP_CONFIG_PATH already defined"
Hello,

After installing the package, it works correctly, but when I execute **PHP ARTISAN ROUTE: LIST** I get the following error:

**[ErrorException]
Constant PP_CONFIG_PATH already defined**

I think it will be because this will be defined in /vendor/paypal/rest-api-sdk-php and in /vendor/anouar/paypalpayment.

If I comment the line 248 in
/vendor/anouar/paypalpayment/src/Anouar/Paypalpayment/P

[2017-08-02 20:08] leifermendez opened #115 "I hava a problem with 'Control-Allow-Origin'"
Hi Bro, sorry for my bad english, i need your help, i used your module PaypalPayment in my Laravel Project, work 100%. The problem ocurre because implemented front and backend separes, so the error. is a CROSS-ORIGIN
Thank!
PD: attached screenshot
![captura de pantalla 2017-08-02 a la s 3 07 40 p m](https://user-images.githubusercontent.com/15802366/28892705-7475ab98-7794-11e7-97f7-7710a3f8ed12.pn

[2017-08-03 05:04] binitghetiya commented on #115
sadasd

[2017-08-03 05:08] binitghetiya commented on #115
Hi @leifermendez ,
I have also went across this kind of problem, there are two ways to solve this problem,

1) In you laravel project public/index.php file in top most add
`header("Access-Control-Allow-Origin: *");
header('Access-Control-Allow-Methods: GET, POST, OPTIONS');
header('Access-Control-Allow-Headers: Origin, Content-Type, Accept, Authorization, X-Request-With');
header('Access-Control-A

[2017-10-24 10:01] acedesigns opened #118 "Different Card Types"
Hi @anouarabdsslm

I was trying out the example using Different card Types. So I wrote a little function to detect card type so that I can use it on the following line ....
[code]
#### My Code to get card
[code]
#### And I used it like this

[code]
## But This Gives me error
[code]

[2017-10-27 22:37] anouarabdsslm commented on #118
@acedesigns sorry for the late response , i think this error thrown when using `Diners Club`. I was able to create successful payment using `mastercard`.For diners i dont know if paypal support it or not , we will need to now the correct type name paypal use for diners if he they support it. For master card just set type to `mastercard` and make sure u use a valid master card, for sanbox try to ge

[2017-10-27 22:37] #118 closed

[2017-10-27 22:39] anouarabdsslm commented on #115
@leifermendez try @binitghetiya  because this issue has nothing to do with the package itself. i think. will close this issue now, but feel free to re-open it if you need more explanation.

[2017-10-27 22:39] #115 closed

[2017-10-27 22:43] anouarabdsslm commented on #112
@gauravmrvh1  as @binitghetiya says we dont use any twilio dependency. this error is related to the missing import for twilion in your app. Try to find where u are using that.

[2017-10-27 22:43] #112 closed

[2017-10-28 12:46] anouarabdsslm commented on #114
@portalshow thanks for reporting this a fix for it merged within this PR https://github.com/anouarabdsslm/laravel-paypalpayment/pull/119

[2017-10-28 12:46] #114 closed

[2017-10-28 12:48] anouarabdsslm commented on #113
@FranklinStuar sorry for the late response. do you have this issue solved if not throw me a snippet of you code to have look.thanks

[2017-10-28 16:02] FranklinStuar commented on #113
hello @anouarabdsslm, I solved modifying code directly, but when updating the composer I have to reconfigure again

[2017-10-30 01:34] williamsalva opened #120 "no puedo resolver error"
SSL peer handshake failed, the server most likely requires a client certificate to connect
--
in PayPalHttpConnection.php (line 122)
at PayPalHttpConnection->execute('grant_type=client_credentials')in OAuthTokenCredential.php (line 241)

[2017-10-30 07:32] acedesigns commented on #118
## As a FYI ##
The Master Cards Numbers, that begin with `22` as listed on `https://developer.paypal.com/docs/classic/payflow/payflow-pro/payflow-pro-testing/` return the error mentioned.

![alt text](https://preview.ibb.co/gqwc36/Screen_Shot_2017_10_30_at_09_20_06.png "Logo Title Text 1")

So I used `http://www.getcreditcardnumbers.com/`

[2017-11-04 12:50] anouarabdsslm commented on #113
@FranklinStuar Can you just open a PR with your fix.

[2017-11-04 15:41] leifermendez opened #121 "Problem code 415 error"
'Got Http response code 415 when accessing https://api.paypal.com/v1/oauth2/token.'

`   public function create($amount=null,$id_order=null)
    {

     //Example $amount = 100;
        $pay_amount = floatval($amount);

        if(is_null($pay_amount)){
            $response = array(
                'status' => 'fail',
                'msj' => 'Monto no existe',
                'code' => 5

[2017-11-09 20:39] anouarabdsslm commented on #121
@leifermendez can you follow the video here https://www.youtube.com/watch?v=F67YuGKm220 and if that did not help to resolve your issue just hit me back here and I will investigate that.

[2017-11-09 20:39] #121 closed

[2017-11-09 20:42] anouarabdsslm commented on #120
@williamsalva try using  the latest version. you can also check the implementation video tutorial here https://www.youtube.com/watch?v=F67YuGKm220

[2017-11-09 20:42] #120 closed

[2017-11-09 20:42] anouarabdsslm commented on #113
@FranklinStuar try using  the latest version. you can also check the implementation video tutorial here https://www.youtube.com/watch?v=F67YuGKm220

[2017-11-09 20:42] #113 closed

[2017-11-17 16:04] skayablars opened #122 "Fix typo in readme"
Fix typo of client_secert to client_secret

[2017-11-17 16:06] #122 closed

[2017-11-18 21:42] greatsami opened #123 "need explain in amount calculation"
Please can yon explain to me how you calculate amount in function paywithCreditCard()

[code]
what is 16, 06, quantity of what, and 1.2?

Thanks

[2017-11-20 18:41] anouarabdsslm commented on #123
@greatsami  the `total = sub_total + shipping + taxes` so  for the example i have with the package we have this :
[code]
Let me know if the help you to understand  how the amount get calculated .

[2017-11-20 18:55] greatsami commented on #123
@anouarabdsslm thank you for reply
now, it is clear.

There are some conflicts with me in documentation:
1 - there are taxes in twice items (0.2, and 0.3), not calculated with subtotal, why?
2 - what is $17.8, and (16 + 0.6)? in commented line.

thank you for explanation :)

[2017-11-20 19:03] anouarabdsslm commented on #123
the first item tax is set to `0.3` and quantity set to `1`  so total tax for that item will still `0.3` for the second one  tax is set to `0.2` and we have quantity set to `5` which means total taxes for that item is `1` and from that the total tax will be `0.3+1=1.3` for the data in document line are not correct i forget to fix it after i have changed the items prices.

[2017-11-20 19:06] anouarabdsslm commented on #123
if that explain the blurry part for, you can close this issue.

[2017-11-20 19:41] greatsami commented on #123
Yes, now it is cleared, thank you :)

[2017-11-20 19:41] #123 closed

[2017-11-21 12:48] lalit-yogi opened #124 "error handling issue"
Hello,
The code is running fine but there is no option for error handling. So how can i check what is the errors.
Thanks

[2017-11-22 10:57] veencel opened #125 "Paypal SDK version"
Hello.
I'm trying to use webhooks and handle the validation with the SDK, but I'm experiencing the following issue: https://github.com/paypal/PayPal-PHP-SDK/issues/798
It's fixed in version 1.12.0, but this package requires 1.11.0.

Can we update the SDK version?
I can submit a PR for this if you think.

[2017-11-23 06:13] fariswidhi opened #126 "where is the configuration to set time zone?"

[2017-11-28 17:21] webreinvent opened #127 "Question: When Payment Fails it return only Token, not payment"
Hi Guys,

My question is pretty simple when I create payment using ```$payment->create(Paypalpayment::apiContext());``` it returns me a approval link and ```payment id``` which i store in my db.

I was expecting when user redirects back irrespective of failure or success, I will receive payment id which I can match with the database entry, instead of payment id, I am getting token [https://i.imgur

[2017-12-05 01:39] xitude opened #128 "Integrating into PayPal Server Side REST"
Thanks for this package, Im looking to integrate into [PayPal Server Side REST](https://developer.paypal.com/demo/checkout/#/pattern/server) so the checkout flow is tidier, I dont really want to use whole redirection.

My issue is the lack of documentation to integrate and what to [send back](https://developer.paypal.com/docs/api/payments/#payment_create) to the client side and how to get this pac

[2017-12-19 12:51] wassimhattab opened #129 "Payment detail if transaction failed"
Hello, i'm using paypal payment api and setIntent as sale as the example shown,

when i get the payment detail in the array if i go to related_resources and check the state it's completed and the main state is approved even if the amount requested was higher than the amount i have in my account..

How can i check if a payment was made successfully or no?

Regards

[2017-12-24 13:32] anouarabdsslm commented on #129
@wassimhattab If I understand you correctly you mean that you have processed order  successfully with paypal account that does not have enough funds  to order this item. If that the case maybe this is an issue with the sandbox platforme not the package.

[2017-12-24 13:33] anouarabdsslm commented on #128
@xitude did you watched this video https://www.youtube.com/watch?v=F67YuGKm220

[2017-12-24 13:40] anouarabdsslm commented on #127
@webreinvent actually it does send the `token` and `paymentId` as query params. check this video https://www.youtube.com/watch?v=F67YuGKm220

[2017-12-24 13:40] #127 closed

[2017-12-24 13:42] anouarabdsslm commented on #126
We don't have any configuration for that at this time.

[2017-12-24 13:42] #126 closed

[2017-12-24 13:44] anouarabdsslm commented on #125
@veencel yes go for it

[2017-12-24 13:46] anouarabdsslm commented on #124
@lalit-yogi can you explain what you mean little more.

[2017-12-28 07:33] shamshadzaheer commented on #124
with my, when a transaction happen it returns to the success page, but the actual money transfer doesn't happen.

Do you know where this the problem?

[2018-01-03 11:18] vanessasoutoc opened #130 "Payment Recurrent ?"
This lib supported payment recurrent with currency BRL ??

[2018-01-16 21:28] sehsah opened #131 "PayPal.log"
error_log(../PayPal.log): failed to open stream: Permission denied

[2018-01-17 07:11] binitghetiya commented on #131
try to give chmod -R 777 permission to folder in which Paypal.log file is..

its simple permission issue not concern with this library.

Thanks

[2018-01-17 08:29] sehsah opened #132 "send parameter with success link"
how can i send parameter id order with link  success

payments/success?paymentId=PAY-94R79336E0631815RLJPQKSI&token=EC-3GS63271RB5217802&PayerID=7D8USM5X9259G

[2018-01-17 08:45] #132 closed

[2018-02-02 01:46] JonathanGio opened #133 "ERROR: Got Http response code 401 when accessing https://api.paypal.com/v1/payments/payment. {"name":"UNAUTHORIZED_PAYMENT","message":"Unauthorized payment.""
**Sandbox mode,** it works perfectly, but when you switch to **LIVE mode**, it sends me this error. UNAUTHORIZED_PAYMENT , help me please!!!!

[2018-02-02 04:43] binitghetiya commented on #133
@JonathanGio  have you changed API keys from sandbox to live ?

[2018-02-02 05:30] JonathanGio commented on #133
@binitghetiya Yes, I already change credentials and **LIVE mode**, and even setPaymentMethod ("paypal") works correctly in LIVE MODE [](https://www.allchupe-express.com/)

[2018-02-04 12:00] sehsah opened #134 "white page when run paywithPaypal"
hi ,
when i run code to paid it's worked well
but yesterday it's stopped and show me white page without any error
and when i print $payment->getApprovalLink()
it's error foreach

[2018-02-04 14:45] aymenoppa opened #135 "laravel 5.5 when i run publish provider i don't see paypal paymen in config folder"
laravel 5.5 when i run publish provider i don't see  paypal paymen in config folder

[2018-02-09 22:12] nnavarrete97 opened #136 "How I can disable the shipping?"
Hello, I want to sell digital products and my question is how I can disable the shipping adress ? pls I'll be waiting the answers :)

[2018-02-13 10:21] mousa74hassan opened #137 "Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment."
message error :
"message": "Authentication failed due to invalid authentication credentials or a missing Authorization header.",
what is the problem ?!

[2018-02-13 10:41] mousa74hassan commented on #137
updated
solved

[2018-02-19 12:45] Bobyuan1015 opened #138 "Is payment by card PayPal Payments Pro?"
I am building a website which can pay by card directly without paypal account for customsers.
I would like to ask if the first payment by card in the video is PayPal Payments Pro?

[2018-03-05 19:41] Marcelofj opened #139 "sizeof(): Parameter must be an array or an object that implements Countable"
Hi, how can I Solve this?

[code]

Thanks.

[2018-03-06 17:16] ngugijames commented on #139
I also keep getting this same error. Running the example provided in the readme generates this exact error.

[2018-03-12 09:06] tanmayapatra09 opened #140 "How to add Items to the Paypal API Dynamically ?"
$item2 = Paypalpayment::item();
			        $item2->setName('Granola bars')
			                ->setDescription('Granola Bars with Peanuts')
			                ->setCurrency('USD')
			                ->setQuantity(5)
			                ->setTax(0.2)
			                ->setPrice(2);

My Problem is I want to make this Array Dynamic. When I insert this code in a loop it shows me error. Please suggest

[2018-03-12 09:32] binitghetiya commented on #140
I would do something like below :)
[code]

[2018-03-13 11:28] SoulaAkim opened #141 "INTERNAL_SERVICE_ERROR"
Hello,
I use the API since last week and every things worked fine since today.
Can somone help me please.

when i send payment i got this error
: `"{"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error occurred.","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR","debug_id":"43c231e1a6812"} ◀"`

in Paypal.log
`[10-03-2018 12:44:47]

[2018-03-13 12:02] sunnyrvtech opened #142 "An unknown error occurred"
Hi,

I am getting unknown error while making payment .Few day ago,.It is working fine but now i got this error i.e An unknown error occurred.Please suggest me ,how i solve this issue.
Here is my debug id 90faae2114650

[2018-03-13 12:59] SoulaAkim commented on #142
Hi , I have same issue here.Actually don't know whats happenin  :/.
Please let me know if you have any informations

Thanks

[2018-03-13 21:39] SoulaAkim commented on #141
FIXED :
Paypal API services was i think...down.Because i did nothing and payments works now.

[2018-03-13 21:45] SoulaAkim commented on #142
Fixed for me, it was Paypal Server side problem.

[2018-03-14 03:58] sunnyrvtech commented on #142
Thanks for your reply...yes this is paypal server side problem

[2018-03-14 06:47] tanmayapatra09 opened #143 "Paypal Invoice"
How to get Invoice from Paypal with this Plugin ?

[2018-03-20 03:57] NhuLong commented on #133
I also have a problem like that TT

[2018-03-30 10:16] assghard opened #144 "NOSHIPPING attr"
Hello.
I try to set NOSHIPPING attribute and I have no idea where I should set it.
I didn't find setter in PayPal\Api\ShippingAddress class.

Can you help me with that?

[2018-04-09 16:34] ElioD opened #145 "Cards ?"
only works with cretito cards or debit?

[2018-04-20 05:55] AmitM13 commented on #139
i have same error and don't know how to solve this one

[2018-04-22 18:36] taporag opened #146 "Got Http response code 500 when accessing https://api.sandbox.paypal.com/v1/payments/payment."
Please help me to solve this problem. Am i missing something? The bellow codes working something but now it's not working............... What type of issue it is?

**Error  Expection**
PayPal \ Exception \ PayPalConnectionException (500)
Got Http response code 500 when accessing https://api.sandbox.paypal.com/v1/payments/payment.
`![paypal500](https://user-images.githubusercontent.com/32647267/390

[2018-04-23 05:48] s201236215H opened #147 "Invalid argument supplied for foreach()"
ErrorException {#3660
  #message: "Invalid argument supplied for foreach()"
  #code: 0
  #file: "/code/public_html/dior/vendor/paypal/rest-api-sdk-php/lib/PayPal/Common/PayPalResourceModel.php"
  #line: 44
  #severity: E_WARNING
  trace: {
    /code/public_html/dior/vendor/paypal/rest-api-sdk-php/lib/PayPal/Common/PayPalResourceModel.php:44 {}
    /code/public_html/dior/vendor/paypal/rest-api-sdk-

[2018-04-23 07:45] s201236215H commented on #139
#148

found the solutions

[2018-04-26 12:40] #137 closed

[2018-04-26 12:50] Akashverma11 commented on #146
I am also getting this problem. how can i catch this exception. exception handler is not able to catch the exception. please help me.

[2018-04-26 16:33] taporag commented on #146
To catch any type of exceptions you can just use Exception instead of \PPConnectionException

[2018-04-27 04:36] Akashverma11 commented on #146
thanks its working.......

[2018-05-01 13:52] juan18c opened #149 "Error in laravel 5.5 PaypalPayment does not exist."
Error in laravel 5.5 Class App\Http\Controllers\PaypalPayment does not exist. I have not managed to call the PaypalPayment class. "use Paypalpayment"  does not work.﻿

[2018-05-02 11:24] sbthemes opened #150 "Please update paypal SDK to latest version"
Right now we cant getToken on success payment as this function not available in old paypal SDK.
Can you please update it?
Thanks :)

[2018-05-04 11:02] s201236215H commented on #149
use Anouar\Paypalpayment\Facades\PaypalPayment ?

[2018-05-13 05:40] HelyChirinos commented on #139
I found this in https://github.com/paypal/PayPal-PHP-SDK/issues/1014
 You need to change:

} elseif (sizeof($v) <= 0 && is_array($v) ) {
to
} elseif (is_array($v) && sizeof($v) <= 0) {

[2018-05-18 05:43] leninchek commented on #102
Hi, sorry for open again this.

But I have the same problem,
I can see with my facilitator account: https://www.sandbox.paypal.com/
The credit card transactions but I can't see the PayPal transactions

What am I doing wrong?

[2018-05-18 16:36] leninchek opened #151 "See Payment with PayPal Function"
Hi, sorry for ask again about this problem.

Basically, I want to see my transactions or tested pays.
With the function Credit Card these are show in the accounts https://www.sandbox.paypal.com/ and https://developer.paypal.com/
But if I use the PayPal function, I cant see my transactions.

I was looking for one near this doubt, I found here:
[102](https://github.com/anouarabdsslm/laravel-paypalpa

[2018-05-23 21:28] ElioD opened #152 "credit and debit?"
Can payments be made by credit card and debit card?

[2018-05-23 22:34] ElioD commented on #133
@JonathanGio lograste resolverlo.. ?

[2018-05-26 02:19] JonathanGio commented on #133
@ElioD  no amigo aun no... tu tienes algo al respecto!!

[2018-05-26 02:49] NhuLong commented on #133
@JonathanGio I think paypal does not support our area .
https://developer.paypal.com/docs/classic/api/currency_codes/#creditcard

[2018-05-26 02:51] ElioD commented on #133
@JonathanGio @NhuLong yes, logre conectarme con todas las formas de paypal, el express, el creditcard y paypal plus.

[2018-05-28 14:37] ElioD commented on #133
Hola @JonathanGio claro, tienes algún proyecto en el cual lo quieras aplicar y ver como lo tienes para ver que esta fallando.. ?

[2018-05-29 22:41] ElioD commented on #133
@JonathanGio deja lo checo.. haber que onda

[2018-05-29 23:16] ElioD commented on #133
Hola @JonathanGio acabo de ver tu código las credenciales son no se declaran así, tienes que ponerlo así en config/paypal_paymant:

<?php

return [
    # Define your application mode here
    'mode' => 'sandbox',

    # Account credentials from developer portal
    'account' => [
        'client_id' => env('CLIENTE', ''),
        'client_secret' => env('SECRET', ''),
    ],

    # Connection Infor

[2018-05-31 07:48] freelancerumesh opened #153 "Class paypalpayment does not exist"
When access /pay-with-paypal or /pay-with-credit-card
also try app('paypalpayment'); in method but no thing happen

[2018-06-06 06:19] kamalkishorebss opened #154 "error_log(../PayPal.log): failed to open stream: Permission denied"
i have already permission in PayPalLogger.php file but getting same error , why please help.

[2018-06-26 14:02] gutofurlan commented on #139
Hi, where is } elseif (sizeof($v) <= 0 && is_array($v) ) { ?
What file ?
thanks

[2018-07-23 11:34] binitghetiya commented on #154
@kamalkishorebss have to give write permission to **storage** folder because *PayPal.log* file will be created into log folder of storage.

[2018-07-24 06:32] mashiro122100 opened #156 "_convertToArray() error"
Laravel 5.6
PHP 7.2.7

I copy the example and then error at _convertToArray() in /vendor/paypal/rest-api-sdk-php/lib/PayPal/Common/PayPalModel.php
![default](https://user-images.githubusercontent.com/22569884/43120852-9d5b66c6-8f56-11e8-8906-eeb14f5ea751.png)

[2018-08-01 01:02] nelitow commented on #139
For reference, in my case it was in /includes/libs/PayPal-PHP-SDK/paypal/rest-api-sdk-php/lib/PayPal/Common/PayPalModel.php

[2018-08-01 13:47] gutofurlan commented on #133
Resolve problem ?
I have error code 401

[2018-08-01 20:26] JonathanGio commented on #133
@ElioD Tendras una copia de tu repo para ver si es mi cuenta ya intente de todo...

[2018-08-02 01:09] Kronos35 commented on #156
This seems to be a problem with php 7.2, so I guess that if this error isn't fixed the repository will be deprecated in a little amount of time.
Also, someone pasted this comment on the youtube tutorial of this repo:
How ever I'm not going to use this repo anymore. Specially since this is an issue known for more than 6 months and no fix has surfaced.
![image](https://user-images.githubusercontent.

[2018-08-03 04:30] mashiro122100 commented on #156
OIC. Finally, i use paypal's official API.
https://github.com/paypal/PayPal-PHP-SDK/wiki/Making-First-Call

[2018-08-04 18:54] chinmay235 opened #157 "Can se set Currency other than USD"
Hi,

I have followed your step everything working fine. But while I am adding Indian currency "INR" I got error message.

`Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment.`

![2018-08-05_002127](https://user-images.githubusercontent.com/1681620/43679632-d16aa754-9845-11e8-8ded-51481942bd01.png)

Please help

[2018-08-05 03:32] systemEDOM commented on #156
https://github.com/systemEDOM/laravel-paypalpayment You can use this repository. This is same but i updated PayPal SDK

[2018-08-14 17:14] mutahir-shah opened #158 "Discount Issues, very big problem"
Hi I am web programmer , I am using your nice paypal package. I am getting one problem in discount.
The problem how to use a discount coupon code. I apply it manually the discount coupon code. But when adding the discounted amount it throws an error of difference in subtotal and total amount.
I am stuck here , please help me as soon as possible. How I use a coupon code discount.

Thanks.

[2018-08-20 22:40] marteagam commented on #133
Hola amigos creo que acabo de encontrar el problema, leyendo la documentacion es necesario activar el uso para pagos con tarjeta para ello hay que ir a nuestra cuenta en www.paypal.com **-> Profile -> Profile and settings -> My selling tools -> API access**  click en **"Update"**, nos aparecera una lista en ella buscamos **"REST API integration"** y damos click en **"Manage REST API apps and crede

[2018-09-23 02:26] JonathanGio commented on #133
@marteagam  no amigo hasta ahora e realizado todo lo que hiciste y no amigo, tu ya pudiste solucionarlo

[2018-10-26 08:46] AlterwebStudio opened #159 "Dynamic methods should not be called staticaly"
In the example methods, PaypalPayment methods are called staticaly but methods are defined as dynamic in the class. I modified paywithCreditCard() and paywithPaypal() methods to create new instance of PayPaylPayment class first, then I made methods to call dynamicaly. Anyway I don't think it's the best way how to solve it (at least beacase it has its own ServiceProvider called automaticaly by lara

[2018-11-17 06:29] sahraoui17 commented on #149
use Paypalpayment;

[2018-11-17 07:15] sahraoui17 commented on #139
At "vendor\paypal\rest-api-sdk-php\lib\PayPal\Common\PayPalModel.php"

[2018-12-11 17:08] Ziadjb commented on #157
CURRENCY | (Required) The currency code.Note: CURRENCY is applicable only to processors that support transaction-level currency. The PayPal acquirer allows PayPal Payments Advanced and PayPal Payments Pro merchants to run transactions using any of the following six currencies with a single account.AUD - Australian dollar CAD - Canadian dollar EUR - Euro GBP - British pound JPY - Japanese Yen USD -

[2019-02-05 12:56] zubairhusnain commented on #124
i have same issue please give me solution

[2019-03-28 13:37] greatsami commented on #151
@leninchek
Did you find the solution?

[2019-04-10 15:12] ErickZH commented on #133
@JonathanGio Cambien el `mode` de la aplicación a `live` en el archivo de configuración `config/paypal_payment`. Agregue variables de entorno :nerd_face:

[code]

[2019-04-29 17:43] OtiZ2 commented on #137
How you solved this problem?

[2019-05-09 11:18] kamleshwebtech commented on #11
I got the solution, Just added paypal client_id, secret and paypal mode (sandbox or live) in dot env file then re-run php artisan serve command in command line. I was 100% sure, it will work. I did it and it worked, very happy now. thank for asking this question.

[2019-06-17 12:58] Nidhi-Dean opened #160 "Got Http response code 400 when accessing https://api.sandbox.paypal.com/v1/payments/payment"
I am using the exact code for pay-with-card as well as pay-with-paypal but it is giving 400 error for payment.
[PaypalPaymentController.zip](https://github.com/anouarabdsslm/laravel-paypalpayment/files/3297051/PaypalPaymentController.zip)

[2019-12-04 07:40] OtiZ2 opened #161 "paypal/rest-api-sdk-php version"
Hi i need use
paypal/rest-api-sdk-php 1.14.0

It posibble to update?

[2020-02-12 09:08] shivamiquincesoft opened #162 "laravel 6 version it can not be install"
can you please upgrade laravel 6 version then it can work

[2020-05-14 10:54] mmejaz commented on #161
please let me know, how can this package work for updated PayPal API

[2020-05-14 10:58] mmejaz commented on #150
Same problem, please ans

[2020-05-14 11:00] booleentech commented on #150
Don't use this as author said its deprecated. Find alternatives or fork and do tweaks as per your need.

[2020-05-14 11:03] sbthemes commented on #150
I think this package is deprecated as author mentioned.

[2020-05-14 11:03] #150 closed

[2020-05-14 18:20] anouarabdsslm commented on #150
I will update i this weekend when i get some free time

[2020-05-14 21:45] anouarabdsslm commented on #161
Guys , I was maintaining this package for a while for tremendous reasons, I will update the package this weekend to use the latest versions of laravel.

[2020-05-16 13:01] mmejaz commented on #161
very nice anouarabdsslm. and secondly please manage it with the latest PayPal SDK (Installing paypal/rest-api-sdk-php (v0.16.1)) instead of the old.
it will be considered a great favor from your die.
thanks

[2020-05-17 06:54] mmejaz commented on #161
i am waiting

[2020-05-17 10:37] alexeydg opened #163 "How you update?"
`Updated on 14/5/2020: I will update this package by the end of this week`

[2020-05-17 15:47] anouarabdsslm commented on #163
yes I found out that paypal SDK is deprecated https://github.com/paypal/PayPal-PHP-SDK I will try to check there new packages to see how I can re-implement it with the package

[2020-05-17 15:47] anouarabdsslm commented on #161
yes I found out that paypal SDK is deprecated https://github.com/paypal/PayPal-PHP-SDK I will try to check their new packages to see how I can re-implement it with the package. I will let you know when the package is ready.

[2020-06-04 19:07] mmejaz commented on #161
good, let me know are you working on it. and when you will push it to GitHub.

[2021-05-14 11:12] PrajapatiDhara1510 opened #165 "How to override configuration in controller?"
I am looking for an overriding PayPal configuration in a controller. I am saving PayPal credentials in a database and at the time of payment, I want to pass it for the configuration.

Is it possible to do this?